@font-face {
    font-family: 'ETH';
    src: url('ETH.ttf');
}

a:link {
    text-decoration:none;
    color: black;
}
a:visited {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration:none;
    color: black;
}

.tituloPrincipal{
    width:60%;
    font-size: 10px; 
    text-align:center;
    margin:auto; 
    margin-top:20px; 
    margin-bottom:20px
}

h1,h2,h3,h4,h5,h6{
    font-family: 'ETH' !important;
}
label{
    font-family: 'ETH' !important;
}

.areaFotos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 2px;
}

.contato{
    width: 100%;
    height: 230px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    gap: 1px;
    font-family: 'ETH';
    background-color: rgba(110, 110, 110, 0.3);
    position: relative;
}

.contato__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contato__subitem--titulo{
    margin-left: 40px;
    margin-top: 50px;
}

.contato__subitem--local{
    margin-left: 40px;
    margin-bottom: 35px;
}

.contato__item--info{
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contato__tel{
}

.contato__item--link{
    justify-content: center;
    align-items: center;
    font-size: 'ETH';
}

.contato__btnContato{
    display: block;
    width: 65%;
    height: 60px;
    text-align: center;
    background-color: rgb(142 139 139);
    color: black;
    font-weight: bold;
    line-height: 60px;
    margin-top: 35px;
}

.contato__btnContato:hover{
    text-decoration: none;
    background-color: rgb(71, 71, 71);
    color: black;
}

.instagram{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.instagram__foto{
    display: block;
    position: relative;
}

.instagramHover{
    position: absolute;
    background-color: rgba(12, 11, 11, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s linear;
}

.instagram__foto:hover .instagramHover{
    opacity: 1;
}
.instagramHover__areaItems{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.intagramHover__item{
    flex: 1;
    margin: 1px;
    display: flex;
    align-items: center;
}

.intagramHover__icon{
    width: 25px;
    height: 25px;
}

.intagramHover__item--like{
    justify-content: flex-end;
    margin-right: 40px;
}

.intagramHover__item--coments{
    justify-content: flex-start;
    margin-left: 40px;
}

.intagramHover__num{
    width: 25px;
    height: 25px;
    color: white;
    font-family: 'ETH';
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    margin-left: 15px;
    margin-top: 5px;
}

.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.parallax{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


@media (min-width:480px) and (max-width:1020px) {
    .contato{
        grid-template-columns: 1fr;
        grid-template-rows: 35%;
        height: 300px;
    }

    .contato__item{
       justify-content: center;
       align-items: center;
    }

    .contato__btnContato{
        width: 55%;
    }
}


@media (max-width:480px){
    .contato{
        grid-template-columns: 1fr;
        grid-template-rows: 35%;
        height: 300px;
    }

    .contato__item{
       justify-content: center;
       align-items: center;
    }

    .contato__btnContato{
        width: 65%;
    }

    .contato__subitem--titulo{
        margin-left: 0px;
    }

    .contato__subitem--local {
        margin-left: 0px;
    }

    .instagram{
        display: flex;
        flex-direction: column;
    }

    .parallax{
        transition: all .1s linear;
    }
    
}